{% extends "layout.html" %} {% block content %}
<div class="content-section">
  <form method="POST" action="">
    {{ form.hidden_tag() }}
    <fieldset class="form-group">
      <legend class="border-bottom mb-4">Join Today</legend>
      <div class="form-group">
        {{ form.username.label(class="form-control-label") }} {{
        form.username(class="form-control-lg") }}
      </div>
    </fieldset>
    <div class="form-group">
      {{ form.submit(class="btn btn-outline-info") }}
    </div>
  </form>
</div>
<div class="border-top pt-3">
  <small class="text-muted">
    anime-io uses MyAnimeList accounts. If you do not have one, feel free to
    head to MyAnimeList.com to register!
    <a class="ml-2" href="{{ url_for('login') }}"></a>
  </small>
</div>
{% endblock content%}
